#root{
    margin: auto;
}
body {
    background-color: rgb(255, 204, 221);
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    margin: auto;
}

.game-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.heart-stage, .quiz-stage, .card-stage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heart {
    font-size: 50px;
    cursor: pointer;
    position: absolute;
    transition: transform 0.2s;
}

.heart:hover {
    transform: scale(1.2);
}

.quiz-stage form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quiz-stage div {
    margin: 10px 0;
}

button {
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px; /* إضافة مسافة بين الأزرار */
}

button:hover {
    background-color: darkred;
}

.card-stage img {
    width: 80%;
    max-width: 300px;
    margin-top: 20px;
}

@media (max-width: 600px) {
    .heart {
        font-size: 40px;
    }

    button {
        font-size: 14px;
        padding: 8px 16px;
    }
}
